<div class="offcanvas-xl offcanvas-start component-offcanvas" tabindex="-1" id="offcanvas_component">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas_component" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0">
        <div class="card component-list-card position-xl-fixed">
            <div class="card-header">
                <div class="form-search">
                    <i class="ph-duotone ph-magnifying-glass icon-search"></i>
                    <input type="search" class="form-control" placeholder="ex. alert, textbox... " id="compo-menu-search">
                </div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h5 class="mt-3">Basic Components</h5></li>
                    <li><a href="#" class="list-group-item list-group-item-action">All</a></li>
                    <li><a href="/Elements/BcAlert" class="list-group-item list-group-item-action">Alert</a></li>
                    <li><a href="/Elements/Bcbutton" class="list-group-item list-group-item-action">Button</a></li>
                    <li><a href="/Elements/Bcbadges" class="list-group-item list-group-item-action">Badges</a></li>
                    <li><a href="/Elements/Bcbreadcrumb" class="list-group-item list-group-item-action">Breadcrumb</a></li>
                    <li><a href="/Elements/Bccard" class="list-group-item list-group-item-action">Cards</a></li>
                    <li><a href="/Elements/Bccolor" class="list-group-item list-group-item-action">Color</a></li>
                    <li><a href="/Elements/Bccollapse" class="list-group-item list-group-item-action">Collapse</a></li>
                    <li><a href="/Elements/Bccarousel" class="list-group-item list-group-item-action">Carousel</a></li>
                    <li><a href="/Elements/Bcdropdowns" class="list-group-item list-group-item-action">Dropdowns</a></li>
                    <li><a href="/Elements/Bcoffcanvas" class="list-group-item list-group-item-action">Offcanvas</a></li>
                    <li><a href="/Elements/Bcpagination" class="list-group-item list-group-item-action">Pagination</a></li>
                    <li><a href="/Elements/Bcprogress" class="list-group-item list-group-item-action">Progress</a></li>
                    <li><a href="/Elements/Bclistgroup" class="list-group-item list-group-item-action">List group</a></li>
                    <li><a href="/Elements/Bcmodal" class="list-group-item list-group-item-action">Modal</a></li>
                    <li><a href="/Elements/Bcspinner" class="list-group-item list-group-item-action">Spinner</a></li>
                    <li><a href="/Elements/Bctabs" class="list-group-item list-group-item-action">Tabs & pills</a></li>
                    <li><a href="/Elements/Bctooltippopover" class="list-group-item list-group-item-action">Tooltip</a></li>
                    <li><a href="/Elements/Bctoasts" class="list-group-item list-group-item-action">Toasts</a></li>
                    <li><a href="/Elements/Bctypography" class="list-group-item list-group-item-action">Typography</a></li>
                    <li><a href="/Elements/Bcextra" class="list-group-item list-group-item-action">Other</a></li>
                    <li class="list-group-item"><h5 class="mt-3">Advance Components</h5></li>
                    <li><a href="/Elements/Acalert" class="list-group-item list-group-item-action">Sweet alert</a></li>
                    <li><a href="/Elements/Acdatepickercomponent" class="list-group-item list-group-item-action">Datepicker</a></li>
                    <li><a href="/Elements/Aclightbox" class="list-group-item list-group-item-action">Lightbox</a></li>
                    <li><a href="/Elements/Acmodal" class="list-group-item list-group-item-action">Modal</a></li>
                    <li><a href="/Elements/Acnotification" class="list-group-item list-group-item-action">Notification</a></li>
                    <li><a href="/Elements/Acrangeslider" class="list-group-item list-group-item-action">Rangeslider</a></li>
                    <li><a href="/Elements/Acslider" class="list-group-item list-group-item-action">Slider</a></li>
                    <li><a href="/Elements/Acsyntaxhighlighter" class="list-group-item list-group-item-action">Syntax Highlighter</a></li>
                    <li><a href="/Elements/Actour" class="list-group-item list-group-item-action">Tour</a></li>
                    <li><a href="/Elements/Actreeview" class="list-group-item list-group-item-action">Tree view</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
