<%- contentFor('HeaderCss') %>
  <!-- enjoyhint css -->
  <link rel="stylesheet" href="/assets/css/plugins/introjs.min.css">
  <%- contentFor('body') %>
    <!-- [ Main Content ] start -->
    <div class="row">
      <%- include('../partials/component/component-breadcrumb',{title:'Tour',text:'Intro.js is a lightweight JavaScript library for creating step-by-step and powerful customer onboarding tours',link:'https://introjs.com/'})%>
    </div>
          <!-- [ Main Content ] start -->
          <div class="row">
            <!-- [ rangeslider ] start -->
            <div class="col-sm-12">
              <div class="card step1">
                <div class="card-header step2">
                  <h5 class="step3">Hello card</h5>
                </div>
                <div class="card-body step4">
                  <h1>H1 Admin Template</h1>
                  <h2>H2 Admin Template</h2>
                  <h3>H3 Admin Template</h3>
                  <h4>H4 Admin Template</h4>
                  <h5>H5 Admin Template</h5>
                  <h6>H6 Admin Template</h6>
                  <p>p Admin Template</p>
                  <strong>p Admin Template</strong>
                </div>
              </div>
            </div>
            <!-- [ rangeslider ] end -->
          </div>
          <!-- [ Main Content ] end -->
    <%- contentFor ('FooterJs') %>
<!-- tour Js -->
<script src="/assets/js/plugins/intro.min.js"></script>
<script src="/assets/js/pages/ac-tour.js"></script>