<li class="pc-item pc-caption">
    <label>Navigation</label>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-gauge"></i>
        </span>
        <span class="pc-mtext">Dashboard</span>
        <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
        <span class="pc-badge">2</span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/dashboard/index">Analytics</a></li>
        <li class="pc-item"><a class="pc-link" href="/dashboard/affiliatedashboard">Affiliate</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon"> <i class="ph-duotone ph-layout"></i></span><span class="pc-mtext">Layouts</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/layouts/layoutcompact">Compact</a></li>
        <li class="pc-item"><a class="pc-link" href="/layouts/layouthorizontal">Horizontal</a></li>
        <li class="pc-item"><a class="pc-link" href="/layouts/layout2">Creative</a></li>
        <li class="pc-item"><a class="pc-link" href="/layouts/layouttab">Tab</a></li>
        <li class="pc-item"><a class="pc-link" href="/layouts/layoutvertical">Vertical</a></li>
    </ul>
</li>
<li class="pc-item pc-caption">
    <label>Widget</label>
    <i class="ph-duotone ph-chart-pie"></i>
</li>
<li class="pc-item">
    <a href="/widget/statistics" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-projector-screen-chart"></i>
        </span>
        <span class="pc-mtext">Statistics</span>
    </a>
</li>
<li class="pc-item">
    <a href="/widget/user" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-identification-card"></i>
        </span>
        <span class="pc-mtext">User</span>
    </a>
</li>
<li class="pc-item">
    <a href="/widget/data" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-database"></i>
        </span>
        <span class="pc-mtext">Data</span>
    </a>
</li>
<li class="pc-item">
    <a href="/widget/chart" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-chart-pie"></i>
        </span>
        <span class="pc-mtext">Chart</span>
    </a>
</li>
<li class="pc-item pc-caption">
    <label>UI Components</label>
    <i class="ph-duotone ph-compass-tool"></i>
</li>
<li class="pc-item">
    <a href="/elements/bcalert" class="pc-link" target="_blank">
        <span class="pc-micon"> <i class="ph-duotone ph-compass-tool"></i></span><span class="pc-mtext">Components</span>
        <i class="ti ti-link text-primary f-14"></i>
    </a>
</li>
<li class="pc-item">
    <a href="/elements/animation" class="pc-link">
        <span class="pc-micon"> <i class="ph-duotone ph-flower"></i> </span><span class="pc-mtext">Animation</span>
    </a>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon"> <i class="ph-duotone ph-flower-lotus"></i></span><span class="pc-mtext">Icons</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/icon/feather">Feather</a></li>
        <li class="pc-item"><a class="pc-link" href="/icon/fontawesome">Font Awesome 5</a></li>
        <li class="pc-item"><a class="pc-link" href="/icon/material">Material</a></li>
        <li class="pc-item"><a class="pc-link" href="/icon/tabler">Tabler</a></li>
        <li class="pc-item"><a class="pc-link" href="/icon/phosphor">Phosphor</a></li>
        <li class="pc-item"><a class="pc-link" href="/icon/custom">Custom</a></li>
    </ul>
</li>
<li class="pc-item pc-caption">
    <label>Forms</label>
    <i class="ph-duotone ph-textbox"></i>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-textbox"></i>
        </span>
        <span class="pc-mtext">Forms Elements</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/forms/elements">Form Basic</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/floating">Form Floating</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/basic">Form Options</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/inputgroup">Input Groups</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/checkbox">Checkbox</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/radio">Radio</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/switch">Switch</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/megaoption">Mega option</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-plug-charging"></i>
        </span>
        <span class="pc-mtext">Forms Plugins</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item pc-hasmenu">
            <a class="pc-link" href="#">Date<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/forms/datepicker">Datepicker</a></li>
                <li class="pc-item"><a class="pc-link" href="/forms/daterangepicker">Date Range Picker</a> </li>
                <li class="pc-item"><a class="pc-link" href="/forms/timepicker">Timepicker</a></li>
            </ul>
        </li>
        <li class="pc-item pc-hasmenu">
            <a class="pc-link" href="#">Select<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/forms/choices">Choices js</a></li>
            </ul>
        </li>
        <li class="pc-item"><a class="pc-link" href="/forms/rating">Rating</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/recaptcha">Google reCaptcha</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/inputmask">Input Masks</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/clipboard">Clipboard</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/nouislider">Nouislider</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/switchjs">Bootstrap Switch</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/typeahead">Typeahead</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-pen-nib"></i>
        </span>
        <span class="pc-mtext">Text Editors</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/forms/tinymce">Tinymce</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/quill">Quill</a></li>
        <li class="pc-item pc-hasmenu">
            <a class="pc-link" href="#">CK editor<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/forms/editorclassic">classic</a></li>
                <li class="pc-item"><a class="pc-link" href="/forms/editordocument">Document</a></li>
                <li class="pc-item"><a class="pc-link" href="/forms/editorinline">Inline</a></li>
                <li class="pc-item"><a class="pc-link" href="/forms/editorballoon">Balloon</a></li>
            </ul>
        </li>
        <li class="pc-item"><a class="pc-link" href="/forms/markdown">Markdown</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-windows-logo"></i>
        </span>
        <span class="pc-mtext">Form Layouts</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/forms/laydefault">Layouts</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/laymulticolumn">Multicolumn</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/layactionbars">Actionbars</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/laystickyactionbars">Sticky Action bars</a> </li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-cloud-arrow-up"></i>
        </span>
        <span class="pc-mtext">File upload</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/forms/fileupload">Dropzone</a></li>
        <li class="pc-item"><a class="pc-link" href="/forms/fluuppy">Uppy</a></li>
    </ul>
</li>
<li class="pc-item">
    <a href="/forms/wizard" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-tabs"></i>
        </span>
        <span class="pc-mtext">wizard</span>
    </a>
</li>
<li class="pc-item">
    <a href="/forms/validation" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-password"></i>
        </span>
        <span class="pc-mtext">Form Validation</span>
    </a>
</li>
<li class="pc-item">
    <a href="/forms/imagecrop" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-crop"></i>
        </span>
        <span class="pc-mtext">Image cropper</span>
    </a>
</li>
<li class="pc-item pc-caption">
    <label>table</label>
    <i class="ph-duotone ph-table"></i>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-table"></i>
        </span>
        <span class="pc-mtext">Bootstrap Table</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/table/tblbootstrap">Basic table</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tblsizing">Sizing table</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tblborder">Border table</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tblstyling">Styling table</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-grid-nine"></i>
        </span>
        <span class="pc-mtext">Vanilla Table</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/table/tbldtsimple">Basic initialization</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtdynamicimport">Dynamic Import</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtrendercolumncells">Render Column Cells</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtcolumnmanipulation">Column Manipulation</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtdatetimesorting">Datetime Sorting</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtmethods">Methods</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtaddrows">Add Rows</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtfetchapi">Fetch API</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtfilters">Filters</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/tbldtexport">Export</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-text-columns"></i>
        </span>
        <span class="pc-mtext">Data table</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/table/advance">Advance initialization</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/styling">Styling</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/api">API</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/plugin">Plug-in</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/sources">Data sources</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-wall"></i>
        </span>
        <span class="pc-mtext">DT extensions</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/table/extautofill">Autofill</a></li>
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">Button<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="/table/extbasicbuttons">Basic button</a></li>
                <li class="pc-item"><a class="pc-link" href="/table/extexportbuttons">Data export</a></li>
            </ul>
        </li>
        <li class="pc-item"><a class="pc-link" href="/table/extcolreorder">Col reorder</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extfixedcolumns">Fixed columns</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extfixedheader">Fixed header</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extkeytable">Key table</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extresponsive">Responsive</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extrowreorder">Row reorder</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extscroller">Scroller</a></li>
        <li class="pc-item"><a class="pc-link" href="/table/extselect">Select table</a></li>
    </ul>
</li>
<li class="pc-item pc-caption">
    <label>Charts &amp; Maps</label>
    <i class="ph-duotone ph-chart-pie-slice"></i>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-chart-donut"></i>
        </span>
        <span class="pc-mtext">Charts</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/charts">Apex Chart</a></li>
        <li class="pc-item"><a class="pc-link" href="/charts/chartpeity">Peity Chart</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-map-trifold"></i>
        </span>
        <span class="pc-mtext">Maps</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/maps">Vector Map</a></li>
        <li class="pc-item"><a class="pc-link" href="/maps/gmap">Gmaps</a></li>
    </ul>
</li>
<li class="pc-item pc-caption">
    <label>Application</label>
    <i class="ph-duotone ph-buildings"></i>
</li>
<li class="pc-item">
    <a href="/calendar" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-calendar-blank"></i>
        </span>
        <span class="pc-mtext">Calendar</span>
    </a>
</li>
<li class="pc-item">
    <a href="/chat" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-chats-circle"></i>
        </span>
        <span class="pc-mtext">Chat</span>
    </a>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-image"></i>
        </span>
        <span class="pc-mtext">Gallery</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/gallery/gallerygrid">Grid</a></li>
        <li class="pc-item"><a class="pc-link" href="/gallery/gallerymasonry">Masonry</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-shopping-cart"></i>
        </span>
        <span class="pc-mtext">E-commerce</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/ecommerce/product">Product</a></li>
        <li class="pc-item"><a class="pc-link" href="/ecommerce/productdetails">Product details</a></li>
        <li class="pc-item"><a class="pc-link" href="/ecommerce/productlist">Product List</a></li>
        <li class="pc-item"><a class="pc-link" href="/ecommerce/productadd">Add New Product</a></li>
        <li class="pc-item"><a class="pc-link" href="/ecommerce/checkout">Checkout</a></li>
    </ul>
</li>
<li class="pc-item">
    <a href="/mail" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-envelope-open"></i>
        </span>
        <span class="pc-mtext">Mail</span>
    </a>
</li>
<li class="pc-item">
    <a href="/users/plans" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-currency-circle-dollar"></i>
        </span>
        <span class="pc-mtext">Plans</span>
    </a>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-user-circle"></i>
        </span>
        <span class="pc-mtext">Users</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/users/accountprofile">Account Profile</a></li>
        <li class="pc-item"><a class="pc-link" href="/users/socialmedia">Social media</a></li>
        <li class="pc-item"><a class="pc-link" href="/users/usercard">User Card</a></li>
        <li class="pc-item"><a class="pc-link" href="/users/userlist">User List</a></li>
        <li class="pc-item"><a class="pc-link" href="/users/team">Team</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-newspaper"></i>
        </span>
        <span class="pc-mtext">Invoice</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/invoice/list">Invoice List</a></li>
        <li class="pc-item"><a class="pc-link" href="/invoice/create">Create</a></li>
        <li class="pc-item"><a class="pc-link" href="/invoice/invoiceViews">Preview</a></li>
    </ul>
</li>


<li class="pc-item pc-caption">
    <label>Pages</label>
    <i class="ph-duotone ph-devices"></i>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-shield-checkered"></i>
        </span>
        <span class="pc-mtext">Authentication</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">
                Authentication 1<span class="pc-arrow">
                    <i data-feather="chevron-right"></i>
                </span>
            </a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" target="_blank" href="/page/loginv1">Login</a></li>
                <li class="pc-item"><a class="pc-link" target="_blank" href="/page/registerv1">Register</a></li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/forgotpasswordv1">
                        Forgot
                        Password
                    </a>
                </li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/resetpasswordv1">reset password</a>
                </li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/codeverificationv1">
                        code
                        verification
                    </a>
                </li>
            </ul>
        </li>
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">
                Authentication 2<span class="pc-arrow">
                    <i data-feather="chevron-right"></i>
                </span>
            </a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" target="_blank" href="/page/loginv2">Login</a></li>
                <li class="pc-item"><a class="pc-link" target="_blank" href="/page/registerv2">Register</a></li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/forgotpasswordv2">
                        Forgot
                        password
                    </a>
                </li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/resetpasswordv2">reset password</a>
                </li>
                <li class="pc-item">
                    <a class="pc-link" target="_blank" href="/page/codeverificationv2">
                        code
                        verification
                    </a>
                </li>
            </ul>
        </li>
        <li class="pc-item"><a class="pc-link" href="/page/loginmodal">Login Modal</a></li>
    </ul>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-wrench"></i>
        </span>
        <span class="pc-mtext">Maintenance</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" target="_blank" href="/page/error404">Error 404</a></li>
        <li class="pc-item"><a class="pc-link" target="_blank" href="/page/connectionlost">Connection lost</a></li>
        <li class="pc-item">
            <a class="pc-link" target="_blank" href="/page/underconstruction">
                Under
                Construction
            </a>
        </li>
        <li class="pc-item"><a class="pc-link" target="_blank" href="/page/comingsoon">Coming soon</a></li>
    </ul>
</li>
<li class="pc-item">
    <a href="/page/contactus" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-target"></i>
        </span><span class="pc-mtext">Contact Us</span>
    </a>
</li>
<li class="pc-item">
    <a href="/livepreview" class="pc-link" target="_blank">
        <span class="pc-micon">
            <i class="ph-duotone ph-rocket"></i>
        </span><span class="pc-mtext">Landing</span>
    </a>
</li>
<li class="pc-item">
    <a href="/page/loading" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-fan"></i>
        </span><span class="pc-mtext">Loading</span>
    </a>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-magnifying-glass"></i>
        </span>
        <span class="pc-mtext">Search</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="/page/searchpage">Search Page</a></li>
        <li class="pc-item"><a class="pc-link" href="/page/contactsearch">Contact Search</a></li>
    </ul>
</li>
<li class="pc-item">
    <a href="/page/settings" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-globe"></i>
        </span>
        <span class="pc-mtext">Site Settings</span>
    </a>
</li>

<li class="pc-item pc-caption">
    <label>Other</label>
    <i class="ph-duotone ph-suitcase"></i>
</li>
<li class="pc-item pc-hasmenu">
    <a href="#!" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-tree-structure"></i>
        </span><span class="pc-mtext">Menu levels</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span>
    </a>
    <ul class="pc-submenu">
        <li class="pc-item"><a class="pc-link" href="#!">Level 2.1</a></li>
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">Level 2.2<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="pc-item pc-hasmenu">
            <a href="#!" class="pc-link">Level 2.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
            <ul class="pc-submenu">
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.1</a></li>
                <li class="pc-item"><a class="pc-link" href="#!">Level 3.2</a></li>
                <li class="pc-item pc-hasmenu">
                    <a href="#!" class="pc-link">Level 3.3<span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
                    <ul class="pc-submenu">
                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.1</a></li>
                        <li class="pc-item"><a class="pc-link" href="#!">Level 4.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li class="pc-item">
    <a href="/other" class="pc-link">
        <span class="pc-micon">
            <i class="ph-duotone ph-desktop"></i>
        </span>
        <span class="pc-mtext">Sample page</span>
    </a>
</li>